.header {
    padding: 5%;
    vertical-align: top;
}
.inline-blockH {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    float: right;
}
#inline-blockLogo {
    display: inline-block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    color: lightskyblue;

}
.heroImg {
    height: 500px;
    width: 100%;
    background-image: url(../images/flowers.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    float: inline-start;
    margin-left: auto;
    margin-right: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content {
    float: right;
    bottom: 0;
}
.AboutMe {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f4f4f8;
}
.text {
    display: grid;
    width: 40%;
    padding: 2%
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.portrait {
    display: inline-block;
    margin-right: 0;
    margin-left: 40%;
    top: 0;
    padding: 3%;
    margin-top: 0;
}
.myWork {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "CaseStudy1 CaseStudy2 CaseSudy3"
        ;
    background-color: lightskyblue;
    height: 100px;
    
}
.footer {
    background-color: #f4f4f8;
    padding: 5%;
    vertical-align: bottom;
}
.inline-blockF {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}