/*top navigation*/

.header {
    padding: 5%;
    vertical-align: top;
}
.inline-blockH {
    vertical-align: top;
    padding: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    float: right;
}
#inline-blockLogo {
    display: inline-block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    color: cornflowerblue;
}

/*Hero Image Area*/

.heroImg {
    height: 500px;
    width: 100%;
    background-image: url(../images/flowers.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content {
    float: right;
    bottom: 0;
}

#button {
    text-align: center;
    color: black;
    border: black;
    background-color: cornflowerblue;
}

/*About Me Section*/

.AboutMe {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f4f4f8;
}
.text {
    display: grid;
    width: 40%;
    padding: 2%;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.portrait {
    display: inline-block;
    margin-right: 0;
    margin-left: 40%;
    top: 0;
    padding: 3%;
    margin-top: 0;
}

/*Skills Section*/

.mySkills {
    background-color: cornflowerblue;
    height: 170px;
}
.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2px;
    height: 150px;
}
.skill1 {
    width: 32%;
    flex-direction: column;
}
.skill2 {
    width: 32%;
    flex-direction: column;
}
.skill3 {
    width: 32%;
}

/*My Work or Case Studies Section*/

.myWork {
    background-color: cornflowerblue;
    height: 350px;
}
.grid {
    display: grid;
    padding: 10px;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "CaseStudy1 CaseStudy2 CaseSudy3"
        ;
}
.CaseStudy1 {
    background-color:#f4f4f8;
    padding:10px;
}
.CaseStudy2 {
    background-color:#f4f4f8;
    padding:10px;
}
.CaseStudy3 {
    background-color:#f4f4f8;
    padding:10px;
}
.image {
    width: 100%;
    max-height: 100%;
}

/*Footer or Bottom Nav*/

.footer {
    background-color: #f4f4f8;
    padding: 5%;
    vertical-align: bottom;
}
.inline-blockF {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Responsive changes for smaller screens*/

@media only screen and (max-width: 600) {
    .grid {
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-columns: 100%;
        grid-template-areas: 
            "CaseStudy1"
            "CaseStudy2"
            "CaseStudy3"
            ;
    }
}
